<!-- Allows user(s) to create comments -->

<%= form_with(model: [ @task, @task.comments.build ]) do |form| %>
  <p>
    <%= form.label :body, 'Comment' %><br>
    <%= form.text_area :body, class: 'form-control', placeholder: "Give us some details." %>
  </p>
  <p>
    <%= form.label :attachments, 'File attachments' %>
    <%= form.file_field :attachments, multiple: true %>
  </p>


  <% commenter = current_user.full_name %>
  <%= form.hidden_field 'commenter', :value => commenter%>

  <p>
    <%= form.submit %>
  </p>
<% end %>