<!-- Allows user(s) to create comments -->

<%= form_with(model: [ @task, @task.comments.build ], remote: true) do |form| %>
  <p>
    <%= form.label :body, 'Comment' %><br>
    <%= form.text_area :body, class: 'form-control', placeholder: "Give us some details." %>
  </p>
  <%= form.fields_for :file_attachments_attributes, remote: true do |fa| %>
      <p>
          <%= fa.label :file, 'Attach a File to Comment' %>
          <%= fa.file_field :file %>
      </p>
  <% end %>


  <% commenter = current_user.full_name %>
  <%= form.hidden_field 'commenter', :value => commenter%>

  <p>
    <%= form.submit %>
  </p>
<% end %>