<!-- Admin Page for Task_Types 
     Will allow for:
     - View all open tasks
     - View all "Completed" tasks
     - Option to mark "Completed" tasks as "Approved" & close.
     - Assign Users to Tasks
     - Option to view all past tasks (open and closed)-->

<h1><%= @task_type.name %></h1>
<p>
    <strong>Description:</strong>
    <%= @task_type.description %>
</p>

<%= link_to 'Create New Task', new_task_path(:task_type_id => params[:id]) %><br>
<h2>Open Tasks</h2>

<table>
    <tr>
      <th>Title</th>
      <th>Priority</th>
      <th>Status</th>
    </tr>
    <% (Task.all).each do |task| %>
    <% if task.task_type_id == @task_type.id%>
        <tr>
          <td><%= task.title %></td>
          <td>
            <% if task.priority != nil %>
              <% if task.priority == 1 %>
                      Low
              <% elsif task.priority == 2 %>
                      Normal
              <% elsif task.priority == 3 %>
                      High
              <% elsif task.priority == 4 %>
                      Urgent
              <% end %>
              <% else %>
              <% end%>
          </td>
          <td>
            <% if task.status != nil %>
              <% if task.status == 1 %>
                  Incomplete
              <% elsif task.status == 2 %>
                  In-Progress
              <% elsif task.status == 3 %>
                  Complete
              <% end %>
            <%else%>
            <%end%>
          </td>
          <td><%= link_to 'Show', task_path(task) %></td>
        </tr>
      <%end%>
  <% end %>
  </table><br>
  <%= link_to 'Back', home_index_path %>

    