<% if logged_in? %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
        <li class="breadcrumb-item"><%= link_to 'Groups', admin_task_types_path %></li>
        <li class="breadcrumb-item"><%= link_to @task_type.name, task_types_path(@task_type) %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<div class="container">
    <div class="py-4 text-center">
        <h1>Edit Group</h1>
    </div>
    
    <%= form_with model: @task_type, local: true do |form| %>
    <div class="mb-3">
        <p>
            <%= form.label :name %><br>
            <%= form.text_field :name, class: 'form-control' %>
        </p>
    </div>
    <div class="mb-3">
        <p>
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'form-control' %>
        </p>
    </div>
    <%= form.submit 'Update', class: 'btn btn-primary btn-lg btn-block' %>
</div>
<% end %>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>