<% if logged_in? %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
        <li class="breadcrumb-item"><%= link_to 'Projects', task_types_path %></li>
        <li class="breadcrumb-item"><%= link_to @task_type.name, task_type_path(@task_type) %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<div class="container">
    <div class="py-4 text-center">
        <h1>Edit Project</h1>
    </div>
    
    <%= form_with model: @task_type, local: true do |form| %>
    <div class="mb-3">
        <p>
            <%= form.label :name %><br>
            <%= form.text_field :name, class: 'form-control' %>
        </p>
    </div>
    <div class="mb-3">
        <p>
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'form-control' %>
        </p>
    </div>
    <%= form.submit 'Update Project', class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to 'Remove Project', task_type_path(@task_type), 
                                  class: 'btn btn-danger btn-lg btn-block',
                                  method: :delete,
                                  data: { confirm: "Are you sure you want to remove this project? All tasks under this will be lost? Continue?"} %>
</div>

<% end %>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>