<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
        <li class="breadcrumb-item"><%= link_to 'Projects', task_types_path %></li>
        <li class="breadcrumb-item"><%= link_to @task_type.name, task_type_path(@task_type) %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<div class="container">
    <div class="py-4 text-center">
        <h1>Edit Project</h1>
    </div>
    
    <%= form_with model: @task_type, local: true do |form| %>
    <div class="mb-3">
        <p>
            <%= form.label :name %><br>
            <%= form.text_field :name, class: 'form-control' %>
        </p>
    
        <p>
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'form-control' %>
        </p>
        <hr>
        <% if @task_type.parent.present?%>
            <h5>Parent-Project</h5>
            <p>
                <%= link_to @task_type.parent.name, task_type_path(@task_type.parent) %>
            <p>
        <% end %>
        <h5>
            Sub-Projects
            <%= link_to fa_icon('plus-circle'), new_task_type_path(:parent_id => @task_type.id) unless @current_user_task_type_option&.isAdmin %>
        </h5>
        <% @children.each do |child| %>
            <p>
                <%= link_to child.name, task_type_path(child) %>
                <%= link_to fa_icon('unlink'), remove_child_task_type_path(child),
                    method: :put,
                    data: { confirm: "Are you sure you want to remove the connection from #{child.name} to #{@task_type.name}?" } %>
            </p>
        <% end %>
        <hr>
        <%= render 'task_type_options/index'%>
        <hr>
        
    </div>

    <%= form.submit 'Update Project', class: 'btn btn-primary btn-lg btn-block' %>
    <% end%>
    <br>
    <%= link_to 'Remove Project', task_type_path(@task_type), 
                                  class: 'btn btn-danger btn-lg btn-block',
                                  method: :delete,
                                  data: { confirm: "Are you sure you want to remove this project? All tasks and sub-projects of this will be deleted as well? Continue?"} %>
    <br><br>
</div>