<% if logged_in? %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
        <li class="breadcrumb-item"><%= link_to 'Groups', admin_task_types_path %></li>
        <li class="breadcrumb-item"><%= link_to @task_type.name, task_types_path(@task_type) %></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<h1>Edit Task Type</h1>

<%= form_with model: @task_type, local: true do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>