<% if logged_in? %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
    </ol>
</nav>
<div class="container-fluid">
    <%= (link_to fa_icon('plus-circle', text: 'Add Project'), new_task_type_path, class: 'btn btn-primary') if isAdmin? == true %>
    <h1 class="text-center">Projects</h1><br><br>

    <div class="row">
    <% @task_type.each do |task_type|%>
        <div class="col-sm-4">
            <div class="card card-hover text-center mb-3">
                <div class="card-header">  
                 <strong><%= task_type.name %></strong>
                </div>
                <div class="card-body text-center">
                    <p class="card-text"><%= task_type.description.truncate_words(10) %></p>
                    <%= link_to "View Project", task_type_path(task_type), class: "btn btn-primary text-center"%>
                </div>
            </div>
        </div>
    <% end%>
    </div>
</div>

<% else %>
    <%= render 'errors/not_signed_in' %>
<% end %>

<script>
$(function() {
  // For card rotation
     $('.btn-rotate').click(function(){
          $('.card-front').toggleClass(' rotate-card-front');
          $('.card-back').toggleClass(' rotate-card-back');
     });
  });
</script>