<h1>Groups</h1>

<%= link_to 'Create New Task Type', new_task_type_path %><br><br>

<%(TaskType.all).each do |task_type|%>
<h2><%=link_to "#{task_type.name}", task_type_path(task_type) %></h2>
<table>
    <tr>
      <th>Name</th>
      <th>View Tasks</th>
      <th>Create Tasks</th>
      <th>Update Tasks</th>
      <th>Delete Tasks</th>
      <th>Approve Tasks</th>
      <th>Verify Tasks</th>
      <th>Comment on Tasks</th>
      <th>Log Labor</th>
      <th>View Cost</th>
    </tr>
    <%task_type_options = TaskTypeOption.all%>
      <% (task_type.task_type_options.all).each do |task_type_option|%>
          <% if task_type_option.task_type_id == task_type.id%>
              <tr>
                  <td><strong> <%= task_type_option.name %></strong></td>
                  <td><%= task_type_option.can_view %></td>
                  <td><%= task_type_option.can_create %></td>
                  <td><%= task_type_option.can_update %></td>
                  <td><%= task_type_option.can_delete %></td>
                  <td><%= task_type_option.can_approve %></td>
                  <td><%= task_type_option.can_verify %></td>
                  <td><%= task_type_option.can_comment %></td>
                  <td><%= task_type_option.can_log_labor %></td>
                  <td><%= task_type_option.can_view_cost %></td>
              </tr>
          <%end%>
      <%end%>
    
</table>
<% end%>

<%= link_to 'Back', admin_path %>