<% if logged_in? %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item"><a href="/task_types">Departments</a></li>
            <li class="breadcrumb-item"><a href="/task_types/<%=@task_type.id%>"><%=@task_type.name%></a></li>
        </ol>
    </nav>
    <h1><%= @task_type.name %></h1>
    <p>
        <strong>Description:</strong>
        <%= @task_type.description %>
    </p>
    <% unless @task_type_option.nil? %>
        <% if @task_type_option.can_create %>
            <%= link_to fa_icon('plus-circle', text:'New Task'), new_task_path(:task_type_id => params[:id]), class: "btn btn-primary" %><br><br>
        <% end %>
    <% end %>
    <div class="container-fluid">
        <div class="card-columns">
            <div class="card">
                <div class="card-header">
                    <strong>All Open Tasks</strong>
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-hover table-sm w-50">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <% (@task_type.tasks.where('status != 3')).each do |task| %>
                        <tbody> 
                            <tr>
                                <td><%= task.title %></td>
                                <td><%= task.priority.nil? ? "" : task_priority(task) %></td>
                                <td><%= link_to 'Show', task_path(task) %></td>
                            </tr>
                        </tbody> 
                        <%end%>
                    </table>
                </div>
            </div>
            <% unless get_tasks_assigned_to_user_for_task_type(@task_type).empty? %>
            <div class="card">
                <div class="card-header">
                    <strong>Assigned to you:</strong>
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-hover table-sm w-50">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <% get_tasks_assigned_to_user_for_task_type(@task_type).each do |task| %>
                        <tbody> 
                            <tr>
                                <td><%= task.title %></td>
                                <td><%= task.priority.nil? ? "" : task_priority(task) %></td>
                                <td><%= link_to 'Show', task_path(task) %></td>
                            </tr>
                        </tbody> 
                        <% end %>
                    </table>
                </div>
            </div>
            <%end%>
            <% unless (@task_type.tasks.where('status = 3')).empty? %>
            <div class="card">
                <div class="card-header">
                    <strong>Recently Completed</strong>
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-hover table-sm w-50">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <% (@task_type.tasks.where('status = 3')).each do |task| %>
                        <tbody> 
                            <tr>
                                <td><%= task.title %></td>
                                <td><%= task.priority.nil? ? "" : task_priority(task) %></td>
                                <td><%= link_to 'Show', task_path(task) %></td>
                            </tr>
                        </tbody> 
                        <%end%>
                    </table><br>
                </div>
            </div>
            <%end%>
        </div>
    </div>
    </div>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>