<%= form_with model: [@task, @task.logged_labors.build], local: true do |form| %>

 <!-- Error Messages -->
  <% if @logged_labors.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@logged_labors.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @logged_labors.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <!--<p>
      <%= form.label :date %><br>
      <%#= form.text_field :date, 'data-behaviour' => 'datepicker' %>    
    </p>-->
    
    <p>
      <%= form.label :time_spent %><br>
      <%= form.text_field :time_spent, class: 'form-control', placeholder: "Hours" %>
    </p>
  
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description, class: 'form-control',  placeholder: "Briefly explain what you did during this time." %>
    </p>
  </div>
  
  <% user_id = current_user.id %>

  <%= form.hidden_field 'user_id', :value => user_id %>
  <%= form.hidden_field 'task_id', :value => @task.id %>

  <p>
    <%= form.submit 'Enter Time', class: 'btn btn-primary btn-lg btn-block' %>
  </p>
  <p>
<% end %>

<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>