<%= form_with model: [@task, @task.logged_labors.build], local: true do |form| %>

 <!-- Error Messages -->
  <% if @logged_labors.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@logged_labors.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @logged_labors.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :time_spent %><br>
    <%= form.text_field :time_spent %>
  </p>
  
  <% user_id = current_user.id %>

  <%= form.hidden_field 'user_id', :value => user_id %>
  <%= form.hidden_field 'task_id', :value => @task.id %>

  <p>
    <%= form.submit %>
  </p>
  <p>
<% end %>