<% if logged_in? %>
    <h1>VMS Task #<%= @task.id %> - <%= @task.title %></h1>
    <p>
        <h2>
            <strong>Total Time Spent:</strong>
            <%= @hours_spent %> hours
        </h2>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> User </th>
                <th scope="col"> Description </th>
                <th scope="col"> Time Spent </th>
                <th scope="col"> Date </th>
            </tr>
        </thead>
        <% @logged_labors.each do |logged_labor| %>
        <tbody>
            <tr>
                <td><%= logged_labor.user.full_name %></td>
                <td><%= logged_labor.description %></td>
                <td><%= logged_labor.time_spent %></td>
                <td><%= (logged_labor.created_at).strftime("%m/%d/%Y")  %></td>
            </tr>
        <tbody>
        <% end %>
    </table>
<% else %>
    <%= render 'errors/not_signed_in' %>
<% end %>