<div class="row">
    <!--Large to XL Screen Size-->
    <div class="col-2 d-none d-lg-block">
        <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <% flag = false %>
        <% @task_types.each do |task_type| %>
            <% unless @task.where(task_type_id: task_type.id).length  == 0%>
                <% if flag == false %>
                    <a class="nav-link active border border-light" id="v-pills-<%=task_type.id%>-tab" data-toggle="pill" href="#v-pills-<%=task_type.id%>" role="tab" aria-controls="v-pills-<%=task_type.id%>" aria-selected="true"><%=task_type.name%> 
                        <span class="badge badge-light right"><%= @task.where(task_type_id: task_type.id).length %></span>
                    </a>
                    <%flag = true%>
                <% else %>
                    <a class="nav-link border border-light" id="v-pills-<%=task_type.id%>-tab" data-toggle="pill" href="#v-pills-<%=task_type.id%>" role="tab" aria-controls="v-pills-<%=task_type.id%>" aria-selected="true"><%=task_type.name%>  
                        <span class="badge badge-light right"><%= @task.where(task_type_id: task_type.id).length %></span>
                    </a>
                <% end %>
            <% end %>
        <% end %>
        </div>
    </div>
    <!--Any size screen less than large-->
    <div class="container-fluid d-lg-none">
        <nav class="pillable">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <% flag = false %>
                <% @task_types.each do |task_type| %>
                    <% unless @task.where(task_type_id: task_type.id).length == 0%>
                        <li class="nav-item">
                            <% if flag == false  %>
                                <a class="nav-link active border border-primary" id="v-pills-<%=task_type.id%>-tab" data-toggle="pill" href="#v-pills-<%=task_type.id%>" role="tab" aria-controls="v-pills-<%=task_type.id%>" aria-selected="true" style="white-space: nowrap; overflow: hidden;"><%=task_type.name%> 
                                    <span class="badge badge-light right"><%= @task.where(task_type_id: task_type.id).length %></span>
                                </a>
                                <%flag = true%>
                            <% else %>
                                <a class="nav-link border border-primary pill-secondary" id="v-pills-<%=task_type.id%>-tab" data-toggle="pill" href="#v-pills-<%=task_type.id%>" role="tab" aria-controls="v-pills-<%=task_type.id%>" aria-selected="true" style="white-space: nowrap; overflow: hidden;"><%=task_type.name%>  
                                    <span class="badge badge-light right"><%= @task.where(task_type_id: task_type.id).length %></span>
                                </a>
                            <% end %>    
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </nav>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
        <div class="tab-content" id="v-pills-tabContent">
        <!-- Display each project in a pill -->
        <% flag = false %>
        <% @task_types.each do |task_type| %>
            <% unless @task.where(task_type_id: task_type.id).length  == 0%>
                <% if flag == false  %>
                    <div class="tab-pane fade show active" id="v-pills-<%=task_type.id%>" role="tabpanel" aria-labelledby="v-pills-<%=task_type.id%>-tab">
                    <%flag = true%>
                <% else %>
                    <div class="tab-pane fade show" id="v-pills-<%=task_type.id%>" role="tabpanel" aria-labelledby="v-pills-<%=task_type.id%>-tab">
                <%end%>
                 <!-- Display all tasks assigned to user within a given project -->
                <% (@task.where(task_type_id: task_type.id)).each do |task|%>
                    <div class="list-group list-group-flush sortable">
                        <% if task.attributes['position'].nil?%>
                        <div class="list-group-item py-2 d-flex justify-content-between align-items-center list-group-item-linkable" data-link="<%= task_path(task)%>">
                        <% else %>
                        <div class="list-group-item py-2 d-flex justify-content-between align-items-center list-group-item-linkable list-group-item-info" data-link="<%= task_path(task)%>">
                        <%end%>
                            <%= task.title.blank? ? (link_to ("[##{task.id}]  " + task.description.truncate_words(15)), task_path(task)) : (link_to ("[##{task.id}]  " + task.title.truncate_words(15)), task_path(task)) %>
                            <%= task_priority(task) %>
                        </div>
                    </div>
                <%end%> 
                <br>
            </div>
        <% end %>
        <% end %>
        </div>
    </div>
</div>