<!-- Allows user(s) to fill in 'Task' information -->

<%= form_with model: @task, local: true do |form| %>
 
 <!-- Error Messages -->
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
 
    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.label :priority %><br>
        <%= form.select(:priority, options_for_select([['Low', 1],['Normal', 2],['High', 3],['Urgent', 4]], @task.priority), include_blank: "Select Priority") %>
    </p>

    <p>
        <%= form.label :status %><br>
        <%= form.select(:status, options_for_select([['Incomplete', 1],['In-progress', 2],['Complete', 3]], @task.status), include_blank: "Select Status") %>
    </p>

    <p>
        <%= form.label :percentComplete, 'Percent Complete' %><br>
        <%= form.range_field :percentComplete, :in => 0..100, :step => '10'%>
    </p>

    <p>
        <%= form.label :assigned_to_id, 'Assignee'%><br>
        <% if @assignee.present?%>
            <%= form.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name, @assignee.id)) %>
        <% else %>
            <%= form.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name), include_blank: "Select User") %>
        <% end %>

    </p>

    <p>
        <%= form.label :file %>
        <%= form.file_field :file %>
    </p>


    <%= form.hidden_field 'task_type_id', :value => params[:task_type_id] %>
    <%= form.hidden_field 'task_id', :value => params[:id] %>
 
    <p>
        <%= form.submit %>
    </p>
 
<% end %>