<%= form_with model: @task, local: true do |form| %>
<!-- Error Messages -->
    <% if @task.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@task.errors.count, "error") %> prohibited
                this task from being saved:
            </h2>
            <ul>
                <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="mb-3">
        <p>
            <%= form.label :priority %><br>
            <%= form.select(:priority, options_for_select([['Low', 1],['Normal', 2],['High', 3],['Urgent', 4]], @task.priority), include_blank: "Select Priority", class: 'form-control') %>
        </p>
    </div>
    <div class="mb-3 ">
        <p> 
            <%= form.label :status %><br>
            <%= form.select(:status, options_for_select([['Incomplete', 1],['In-progress', 2],['Complete', 3]], @task.status), include_blank: "Select Status", class: 'form-control') %>
        </p>
    </div>
    <div class="mb-3 w-50 ">
        <p> 
            <%= form.label :percentComplete, 'Percent Complete' %><br>
            <%= form.range_field :percentComplete, :in => 0..100, :step => '10', class: 'form-control slider'%>
        </p>
    </div>
    <div class="mb-3">
        <p>
            <%= form.label :assigned_to_id, 'Assignee'%><br>
            <% if @assignee.present?%>
                <%= form.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name, @assignee.id),  include_blank: "All", class: 'form-control') %>
            <% else %>
                <%= form.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name), include_blank: "All", class: 'form-control') %>
            <% end %>
        </p>
    </div>
    <div class="mb-3">
        <% @task.file_attachments.each do |file_attachment|%>
            <% if (file_attachment.file).present? %>
                <a href="<%= file_attachment.file.url %>" target="_blank"><%= image_tag(file_attachment.file.url, size:'32') if !file_attachment.blank? %></a>
                <%if @task.persisted?%>
                    <%= link_to fa_icon('trash-alt'), 
                            [file_attachment.task, file_attachment],
                            title: 'Remove',
                            method: :delete,
                            data: { confirm: 'Are you sure you want to remove this attachment?' } %><br>
                <%end%>
            <%end%>
        <% end %>
        <%= form.fields_for :file_attachments_attributes do |fa| %>
            <p>
                <%= fa.label :file, 'File attachments ' %>
                <%= fa.file_field :file %>
            </p>
        <% end %>
    </div>
    <p>
        <%= form.submit 'Save', class: 'btn btn-primary btn-lg ' %>
        <%= link_to 'Cancel', task_path(@task), remote: true, class:'btn btn-secondary btn-lg' %><br>
    </p>
<% end %>
<script>
    $(".btn").click(function() {
        $('#task-form').slideUp(350);
        $('#task-info-small').show();
  })
</script>