<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<%= form_with model: @task, html: { autocomplete: "off" }, local: true do |form| %>
    <!-- Error Messages -->
    <% if @task.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@task.errors.count, "error") %> prohibited
                this task from being saved:
            </h2>
            <ul>
                <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <!-- Form -->
    <div class="mb-3">
        <p> 
            <%= form.label :title %><br>
            <%= form.text_field :title, class: 'form-control' %>
        </p>
        <p> 
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'form-control', size: "60x12" %>
        </p>
        <p>
            <%= form.label :priority %><br>
            <%= form.select(:priority, options_for_select(PRIORITY, @task.priority), include_blank: "Select Priority", class: 'form-control') %>
        </p>
        <p> 
            <%= form.label :status %><br>
            <%= form.select(:status, options_for_select(STATUS, @task.status), include_blank: "Select Status", class: 'form-control') %>
        </p>
        <p> 
            <%= form.label :percentComplete, 'Percent Complete' %><br>
            <%= form.range_field :percentComplete, :in => 0..100, :step => '10', class: 'form-control slider'%>
        </p>
        <hr>
        <!-- Due Date -->
        <p>Due Date: <%= @task.due_date.nil? ? "<input type='checkbox' id='isDueDateSelected'/>".html_safe : "<input type='checkbox' id='isDueDateSelected' checked/>".html_safe %></p>
        <p id="due-date"  style="display: none;">
            <%= fa_icon('calendar-alt', text:'Select Date')%>
            <% if @task.due_date.nil? %>
                <%= form.text_field :due_date, data:{ provide:'datepicker' }, id: 'datepicker', class: 'form-control datepicker w-50', placeholder: 'Enter Due Date' %>    
            <% else %>
                <%= form.text_field :due_date, value: @task.due_date.strftime("%Y/%m/%d"),data:{ provide:'datepicker' }, id: 'datepicker', class: 'form-control datepicker w-50'%>    
            <% end %>
        </p>
        <hr>
        <!-- Reoccuring Task Information -->
        <%= label_tag "Reoccurring Task:" %> 
        <%= check_box_tag 'isReoccurring', true, (true unless @task.reoccuring_task.nil?), id:'isReoccuringTask'%>
        <p id='reoccuring-task-form' style="display: none;">
            <%= form.fields_for :reoccuring_task, (ReoccuringTask.new if @task.reoccuring_task.nil?) do |f| %>
                <% if @task.reoccuring_task.nil?%>
                    Reoccuring Task Type: <%= f.select(:reoccuring_task_type_id, options_from_collection_for_select(ReoccuringTaskType.all, :id, :title), include_blank: "Select Type", class: 'form-control') %><br>
                <% else %>
                    Reoccuring Task Type: <%= f.select(:reoccuring_task_type_id, options_from_collection_for_select(ReoccuringTaskType.all, :id, :title, @task.reoccuring_task.reoccuring_task_type_id), include_blank: "Select Type", class: 'form-control') %><br>
                <% end %>
                Frequency (Days): <%= f.number_field :freq_days, placeholder: 'Day(s)', class: 'form-control w-25', id: 'freq-days', step: false %>
                Frequency (Weeks): <%= f.number_field :freq_weeks, placeholder: 'Week(s)', class: 'form-control w-25', id: 'freq-weeks' %>
                Frequency (Months): <%= f.number_field :freq_months, placeholder: 'Month(s)', class: 'form-control w-25', id: 'freq-months' %>
            <% end %>
        </p>
        <hr>
        <!-- Task/User Assignments -->
        <p>
            <strong>Assignee(s): </strong>
            <%= link_to fa_icon('plus-circle'), new_task_task_assignment_path(@task) if @task.persisted?%><br>
            <%= form.fields_for :task_assignments do |f| %>
                <%unless @assignees.nil?%>
                    <% if @assignees.empty? %>
                        <%= f.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name), include_blank: "Select User", class: 'form-control') %>
                    <% else %>
                        <%= f.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name, f.object.assigned_to_id), include_blank: "Select User", class: 'form-control', multiple: true) %>
                    <% end %>
                    <%= f.hidden_field :assigned_by_id, value: current_user.id %>
                    <%= (link_to fa_icon('trash-alt 1.5x'), task_task_assignment_path(@task, f.object.id),
                                                            method: :delete,
                                                            data: { confirm: "Are you sure you want to remove user from task?" },
                                                            remote: true) unless f.object == @assignees.first %><br>  
                <% else %>
                     <%= f.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name), include_blank: "Select User", class: 'form-control') %>
                <%end%> 
            <% end %>
        </p>
        <!-- Attachments -->
        <p><strong>Attachments: </strong></p>
        <p>
            <%= form.label :attachments, 'File attachments' %>
            <%= form.file_field :attachments, multiple: true %>
        </p>

       <% @task.attachments.each_with_index do |attachment, index|%>
            <br><a href="<%= attachment.url %>" target="_blank"><%= image_tag(attachment.url, size:'32') if !attachment.blank? %></a>
            <%= (link_to fa_icon('trash-alt', text:'Delete'), task_attachment_path(@task, index),
                :method => :delete,
                remote: true,
                data: { confirm: 'Are you sure you want to delete this attachment?' }) %>
        <%end%>
    </div>

    <%= form.hidden_field 'isApproved', :value => true %>
    <%= form.hidden_field 'created_by_id', :value => current_user.id %>
    <%= form.hidden_field 'task_type_id', :value => @task_type.id if @task_type.present?%>

    <p>
        <%= @task.persisted? ? (form.submit 'Save', class: 'btn btn-primary btn-lg quick-edit') :  (form.submit 'Save', class: 'btn btn-primary btn-lg ') %>
        <%= @task.persisted? ? (link_to 'Cancel', task_path(@task), remote: true, class:'btn btn-secondary btn-lg quick-edit') : (link_to 'Cancel', @task_type, class:'btn btn-secondary btn-lg') %><br>
    </p>
<% end %>

<script type="text/javascript">
     // Hide the form & show the data once the Save or Cancel button has been clicked.
    $(".quick-edit").click(function() {
        $('#task-form').slideUp(350);
        $('#task-info-small').show();
    })
    
    // If @task.due_date isn't nil (and checkbox is checked), allow for user to edit.
    if( $('#isDueDateSelected').is(':checked')){
        $("#due-date").toggle(this.checked); 
        $('.datepicker').datepicker({dateFormat: 'yy-mm-dd '});
    }

    // If the checkbox (due_date) is selected, display the date picker. 
    $(function() {
        $('#isDueDateSelected').click(function() {
            if( $('#isDueDateSelected').is(':checked')){
                $("#due-date").toggle(this.checked);
                $('.datepicker').datepicker({dateFormat: 'yy-mm-dd '});
                $(".datepicker").datepicker("setDate", new Date());
            }
            else{ //Otherwise, set date to null.
                $(".datepicker").datepicker("setDate", null);
                $('#due-date').hide();
            }
        });
    });

    // If @task.reoccuring_task isn't nil (and checkbox is checked), allow for user to edit.
    if( $('#isReoccuringTask').is(':checked')){
        $("#reoccuring-task-form").toggle(this.checked); 
        $("#reoccuring-task-form").show();
    }

    // If the checkbox (due_date) is selected, display the date picker. 
    $(function() {
        $('#isReoccuringTask').click(function() {
            if( $('#isReoccuringTask').is(':checked')){
                $("#reoccuring-task-form").show();
                $("#reoccuring-task-form").toggle(this.checked);
                $("#reoccuring-task-form").show();
            }
            else{ //Otherwise, set date to null.
                $('#reoccuring-task-form').hide();
            }
        });
    });
</script>