<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<%= form_with model: @task, html: { autocomplete: "off" }, local: true do |form| %>
 
    <!-- Error Messages -->
    <% if @task.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@task.errors.count, "error") %> prohibited
                this task from being saved:
            </h2>
            <ul>
                <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <!-- Begin Form -->
    <div class="mb-3">
        <p> 
            <%= form.label :title %><br>
            <%= form.text_field :title, class: 'form-control' %>
        </p>
        <p> 
            <%= form.label :description %><br>
            <%= form.text_area :description, class: 'form-control' %>
        </p>
        <p>Due Date: <%= @task.due_date.nil? ? "<input type='checkbox' id='isDueDateSelected'/>".html_safe : "<input type='checkbox' id='isDueDateSelected' checked/>".html_safe%></p>
        <p id="due-date"  style="display: none;">
            <%= fa_icon('calendar-alt', text:'Select Date')%>
            <% if @task.due_date.nil? %>
                <%= form.text_field :due_date, data:{ provide:'datepicker' }, id: 'datepicker', class: 'form-control datepicker w-50', placeholder: 'Enter Due Date' %>    
            <% else %>
                <%= form.text_field :due_date, value: @task.due_date.strftime("%Y/%m/%d"),data:{ provide:'datepicker' }, id: 'datepicker', class: 'form-control datepicker w-50'%>    
            <% end %>
        </p>
        <p>
            <%= form.label :priority %><br>
            <%= form.select(:priority, options_for_select(PRIORITY, @task.priority), include_blank: "Select Priority", class: 'form-control') %>
        </p>
        <p> 
            <%= form.label :status %><br>
            <%= form.select(:status, options_for_select(STATUS, @task.status), include_blank: "Select Status", class: 'form-control') %>
        </p>
        <p> 
            <%= form.label :percentComplete, 'Percent Complete' %><br>
            <%= form.range_field :percentComplete, :in => 0..100, :step => '10', class: 'form-control slider'%>
        </p>
        <p>
            <strong>Assignee(s): </strong><br>
            <%= form.fields_for :task_assignments do |f| %>
                <%unless @assignee.nil?%>
                    <% if @assignee.empty? %>
                        <%= f.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name), include_blank: "Select User", class: 'form-control') %>
                    <% else %>
                        <%= f.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name, f.object.assigned_to_id), include_blank: "Select User", class: 'form-control', multiple: true) %>
                    <% end %>
                    <%= f.hidden_field :assigned_by_id, value: current_user.id %>
                    <%= (link_to fa_icon('trash-alt 1.5x'), task_task_assignment_path(@task, f.object.id),
                                                            method: :delete,
                                                            data: { confirm: "Are you sure you want to remove user from task?" },
                                                            remote: true) unless f.object == @assignee.first %><br>  
                <% else %>
                     <%= f.select(:assigned_to_id, options_from_collection_for_select(@assignable_users, :id, :full_name), include_blank: "Select User", class: 'form-control') %>
                <%end%> 
            <% end %>
        </p>
        <p><strong>Attachments: </strong></p>
        <p>
            <%= form.label :attachments, 'File attachments' %>
            <%= form.file_field :attachments, multiple: true %>
        </p>

       <% @task.attachments.each_with_index do |attachment, index|%>
            <br><a href="<%= attachment.url %>" target="_blank"><%= image_tag(attachment.url, size:'32') if !attachment.blank? %></a>
            <%= (link_to fa_icon('trash-alt', text:'Delete'), task_attachment_path(@task, index),
                :method => :delete,
                data: { confirm: 'Are you sure you want to delete this attachment?' }) %>
        <%end%>
    </div>

    <%= form.hidden_field 'task_type_id', :value => @task_type.id %>
    <%= form.hidden_field 'task_id', :value => params[:id] %>
    <%= form.hidden_field 'isApproved', :value => true %>
    <%= form.hidden_field 'created_by_id', :value => current_user.id %>

    <p><%= form.submit 'Save', class: 'btn btn-primary btn-lg btn-block' %></p>
<% end %>

<script type="text/javascript">
    // If @task.due_date isn't nil (and checkbox is checked), allow for user to edit.
    if( $('#isDueDateSelected').is(':checked')){
        $("#due-date").toggle(this.checked);
        $('.datepicker').datepicker({dateFormat: 'yy-mm-dd '});
    }

    // If the checkbox (due_date) is selected, display the date picker. 
    $(function() {
        $('#isDueDateSelected').click(function() {
            if( $('#isDueDateSelected').is(':checked')){
                $("#due-date").toggle(this.checked);
                $('.datepicker').datepicker({dateFormat: 'yy-mm-dd '});
                $(".datepicker").datepicker("setDate", new Date());
            }
            else{ //Otherwise, set date to null.
                $(".datepicker").datepicker("setDate", null);
                $('#due-date').hide();
            }
        });
    });
</script>