<h1>Current Tasks</h1>

<%= link_to 'Administration',  admin_path%><br><br>

<%= link_to 'Create New Task', new_task_path %><br>


<%(TaskType.all).each do |type|%>
  <h2><%=link_to "#{type.name}", task_type_path(type) %></h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Priority</th>
      <th>Status</th>
    </tr>
    <% @tasks.each do |task| %>
      <% if task.task_types_id == type.id%>
        <tr>
          <td><%= task.title %></td>
          <td>
            <% if task.priority != nil %>
              <% if task.priority == 1 %>
                      Low
              <% elsif task.priority == 2 %>
                      Normal
              <% elsif task.priority == 3 %>
                      High
              <% elsif task.priority == 4 %>
                      Urgent
              <% end %>
              <% else %>
              <% end%>
          </td>
          <td>
            <% if task.status != nil %>
              <% if task.status == 1 %>
                  Incomplete
              <% elsif task.status == 2 %>
                  In-Progress
              <% elsif task.status == 3 %>
                  Complete
              <% end %>
            <%else%>
            <%end%>
          </td>
          <td><%= link_to 'Show', task_path(task) %></td>
        </tr>
      <%end%>
  <% end %>
  </table>
<%end%>
