<h2>VMS Task #<%= @task.id %></h2>

</p>
    <strong>Task Type:</strong>
    <%= TaskType.find(@task.task_types_id).name unless @task.task_types_id.blank?%>
<p>

<p>
    <strong>Title:</strong>
    <%= @task.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @task.description %>
</p>

<p>
    <strong>Priority:</strong>
    <%= render 'priority'%> 
</p>

<p>
    <strong>Status:</strong> 
    <%= render 'status'%> 
</p>

<p>
    <strong>Percent Complete:</strong>
    <%= @task.percentComplete %>%
</p>

<h2>Comments</h2>
<%= render @task.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_task_path(@task)%>
<%= link_to 'Back', tasks_path %>