<div class="container">
    <div class="py-4 text-center">
        <h2>File a Ticket</h2>
        <p class="lead">Have a request from a group you aren't assigned to? Fill out this form to submit your request.</p>
    </div>
    <%= form_with model: @task, local: true do |form| %>
        <!-- Error Messages -->
        <% if @task&.errors&.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@task&.errors&.count, "error") %> prohibited
                    this task from being saved:
                </h2>
                <ul>
                    <% @task&.errors&.full_messages&.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <!-- Form -->
        <% if logged_in?%>
            <%= form.hidden_field 'created_by_id', :value => current_user.id %>
        <% else %>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <%= form.label :created_by_id, 'VMS Employee #' %><br>
                    <%= form.text_field :created_by_id, class: 'form-control', placeholder: "Ex.) 007" %>
                </div>
            </div>
        <% end %>
        <div class="mb-3">
            <p> 
                <%= form.label :task_type_id, 'Who is this for?' %><br>
                <%= form.select(:task_type_id, options_from_collection_for_select(@task_type, "id", "name"),  include_blank: "Select Project", class: 'form-control' )%>
            </p>
            <p> 
                <%= form.label :description, 'What is the problem?' %><br>
                <%= form.text_area :description, class: 'form-control', placeholder: "Give us some details." %>
            </p>
            <p>
                <%= form.label :priority, 'Is this Urgent?' %>
                <%= form.check_box :priority, {:class => ""}, 4, nil %>
            </p>
            <p>
                <%= form.label :attachments, 'File attachments' %>
                <%= form.file_field :attachments, multiple: true %>
            </p>
        </div>
        <hr class="mb-4">
        <%= form.fields_for :task_assignments do |f| %>
            <%= f.hidden_field :assigned_to_id, value: nil %>
        <% end %>
        <%= form.hidden_field 'isApproved', :value => nil %>
        <%= form.submit 'Submit Request', class: 'btn btn-primary btn-lg btn-block'%>
        <% end %>
    </div>
</div>