
<h1>Administration</h1>

<%= link_to fa_icon('users', text:"Users"), users_path%><br>
<%= link_to fa_icon('user-tie',text:'Roles'), task_type_options_path %><br>
<%= link_to fa_icon('eye', text:'Activities'), activities_path %><br>
<%= link_to fa_icon('check-circle', text: 'Verify Completion'), verify_path %><br>    
<%= link_to fa_icon('user-tag', text: 'Review Tickets'), review_path %><br>    

