<% if logged_in? && isAdmin? %>
    <h1>Administration</h1>
    <h4>Use this page to view/edit data</h4>

    <%= link_to 'Users', users_path %><br>
    <%= link_to 'Roles', task_type_options_path %><br>
    <%= link_to 'Projects', task_types_path %><br>
    <br>

    <%= link_to 'Back', home_path %>
<% else %>
        <%= render 'errors/not_signed_in' %>
<% end%>

