<h1>Assign User as  <%="#{@task_type_option.name}" %></h1>

 <%= form_with model: @user_group, local: true do |form| %>
    
    <p>
        <%= form.label :users_id, 'Select User' %>
        <%= form.collection_select :users_id, User.all, :id, :full_name%>
    </p>

    <%=form.hidden_field 'task_type_option_id', :value => params[:task_type_option_id] %>


    <p>
        <%= form.submit %>
    </p>
<% end %>