<% if logged_in? && isAdmin?%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
        <li class="breadcrumb-item"><%= link_to "Roles & Permissions", task_type_options_path%></li>
        <li class="breadcrumb-item"><%= link_to @task_type_option.name, task_type_option_path(@task_type_option)%></li>
        <li class="breadcrumb-item active"><a>Assign User</a></li>
    </ol>
</nav>
<div class="container">
    <div class="py-4 text-center">
        <h1>Assign User as  <%="#{@task_type_option.name}" %></h1>
    </div>

    <%= form_with model: [@task_type_option, @task_type_option.user_groups.build], local: true do |form| %>
        
        <p>
            <%= form.label :user_id, 'Select User' %>
            <%= form.select(:user_id, options_from_collection_for_select(User.all, :id, :full_name), include_blank: "Select User", class: 'form-control') %>
        </p>

        <%=form.hidden_field 'task_type_option_id', :value => params[:task_type_option_id] %>


        <p>
            <%= form.submit "Assign", class: 'btn btn-primary btn-block'%>
        </p>
    <% end %>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>