<% if logged_in? && isAdmin?%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
        <li class="breadcrumb-item"><a href="/task_type_options">Roles & Permissions</a></li>
        <li class="breadcrumb-item"><a href="/task_type_options/<%= @task_type_option.id%>"><%= @task_type_option.name %> Configuration</a></li>
        <li class="breadcrumb-item active"><a>Assign User</a></li>
    </ol>
</nav>
<div class="container">
    <div class="py-4 text-center">
        <h1>Assign User as  <%="#{@task_type_option.name}" %></h1>
    </div>

    <%= form_with model: @user_group, local: true do |form| %>
        
        <p>
            <%= form.label :user_id, 'Select User' %>
            <%= form.select(:user_id, options_from_collection_for_select(User.all, :id, :full_name), include_blank: "Select User", class: 'form-control') %>
        </p>

        <%=form.hidden_field 'task_type_option_id', :value => params[:task_type_option_id] %>


        <p>
            <%= form.submit "Assign", class: 'btn btn-primary btn-block'%>
        </p>
    <% end %>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>