<h1>User Groups</h1>
<h2>Add User to a Group</h2>

<%= form_with model: @user_group, local: true do |form| %>
<p>
        <%= form.label :task_type_option_id, 'Task Type Option' %><br>
        <%= form.select(:task_type_option_id, options_from_collection_for_select(TaskTypeOption.all, :id, :name), include_blank: "Select Option") %>
</p>

<p>
        <%= form.label :user_id, 'User' %><br>
        <%= form.select(:user_id, options_from_collection_for_select(User.all, :id, :full_name), include_blank: "Select Option") %>
</p>

<p>
        <%= form.submit %>
</p>
<% end%>