 <%= form_with model: @user, local: true do |form| %>
    <!-- Error Messages -->
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@user.errors.count, "error") %> prohibited
                this user from being created:
            </h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="mb-3">
        <p>
            <%= form.label :employee_number, 'VMS Employee #' %><br>
            <%= form.number_field :employee_number, class: 'form-control' %>
        </p>
    
        <p>
            <%= form.label :f_name, 'First Name' %><br>
            <%= form.text_field :f_name, class: 'form-control' %>
        </p>

        <p>
            <%= form.label :l_name, 'Last Name' %><br>
            <%= form.text_field :l_name, class: 'form-control' %>
        </p>

        <p>
            <%= form.label :email, 'Email' %><br>
            <%= form.text_field :email, class: 'form-control' %>
        </p>
        <p>
        <% if @user.persisted?%>
        <strong>Roles/Permissions</strong>
            <% if @user_groups.nil? %>
                <h2>No roles/permissions assigned to this user</h2>
            <% else %>
                <table class="table table-borderless table-hover table-sm w-25">
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <% @user_groups.each do |user_group|%>  
                    <tbody> 
                        <tr>
                            <td><%= link_to user_group.task_type_option.task_type.name, task_type_path(user_group.task_type_option.task_type) %>
                            <td><%= link_to user_group.task_type_option.name, task_type_task_type_option_path(user_group.task_type_option.task_type, user_group.task_type_option) %></td>
                            <% if isAdmin? %>
                                <td><%= link_to fa_icon('trash-alt'), user_group_path(user_group),
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to remove this role from #{@user.full_name}?" } %></td><br>
                            <% end %>
                        </tr>
                    </tbody> 
                    <% end %>
                </table>
            <% end %><br>
        <% end %>
        </p>
        <!-- Should Make this a seperate form -->
        <% unless @user.persisted?%>
            <p>
                <%= form.label :password, 'Password' %><br>
                <%= form.password_field :password, class: 'form-control' %>
            </p>

            <p>
                <%= form.label :password_confirmation, 'Password Confirmation' %><br>
                <%= form.password_field :password_confirmation, class: 'form-control' %>
            </p> 
         <%end%>
    </div>

        <p>
            <%= form.submit %>
        </p>
<% end %>