 
 
 <%= form_with model: @user, local: true do |form| %>
    <!-- Error Messages -->
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@user.errors.count, "error") %> prohibited
                this user from being created:
            </h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <!-- Input for Employee Number, First Name, Last Name -->
        <p>
            <%= form.label :employee_number, 'VMS Employee #' %><br>
            <%= form.number_field :employee_number %>
        </p>
    
        <p>
            <%= form.label :f_name, 'First Name' %><br>
            <%= form.text_field :f_name %>
        </p>

        <p>
            <%= form.label :l_name, 'Last Name' %><br>
            <%= form.text_field :l_name %>
        </p>

        <p>
            <%= form.label :email, 'Email' %><br>
            <%= form.text_field :email %>
        </p>

        <strong>Roles/Permissions</strong>
            <% if @task_type_option.nil? || @user_group.nil?%>
                <h2>No roles/permissions assigned to this user</h2>
            <% else %>
                <table>
                    <tr>
                        <th>Department</th>
                        <th>Role</th>
                    </tr>
                    <% @user.user_groups.each do |user_group|%>        
                    <tr>
                        <tr>
                        <td><%= user_group.task_type_option.task_type.name%>
                        <td><%= user_group.task_type_option.name%></td>
                        <td><%= link_to 'Remove', user_group_path(user_group),
                            method: :delete,
                            data: { confirm: "Are you sure you want to remove this role from #{@user.full_name}?" } %></td><br>
                    </tr>
                    <% end %>
                </table>
            <% end %><br>

        <!-- Should Make this a seperate form -->
        <p>
            <%= form.label :password_digest, 'Password' %><br>
            <%= form.password_field :password_digest %>
        </p>

        <p>
            <%= form.label :password_confirmation, 'Password Confirmation' %><br>
            <%= form.password_field :password_confirmation %>
        </p>
    
        <p>
            <%= form.submit %>
        </p>
<% end %>