<h1>Users</h1>
<%= link_to 'Create New User', new_user_path %><br><br>

<table>
    <tr>
      <th>Employee Number</th>
      <th>Employee Name</th>
      <th>Email Address</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.employee_number %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Roles', user_user_groups_path(user)  %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Back', admin_path %>