<% if logged_in? && (isAdmin? or current_user == @user) %>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-1 bg-light"></div>
        <div class="col-sm-10">
            <% if isAdmin?%>
                <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                            <li class="breadcrumb-item"><a href="/users">Users</a></li>
                            <li class="breadcrumb-item"><a><%=@user.full_name%></a></li>
                        </ol>
                </nav>
            <% else %>
                <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                            <li class="breadcrumb-item"><a><%=@user.full_name%></a></li>
                        </ol>
                </nav>
            <% end %>
            <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">User</a>
                <a class="nav-item nav-link" id="nav-roles-tab" data-toggle="tab" href="#nav-roles" role="tab" aria-controls="nav-roles" aria-selected="false">Roles</a>
                <a class="nav-item nav-link" id="nav-edit-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Activity</a>
            </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                <h2>User Profile</h2>
                </p>
                    <strong>Employee Number:</strong>
                    <%= @user.employee_number%>
                <p>
                <p>
                    <strong>Name:</strong>
                    <%= @user.full_name %>
                </p>
                <p>
                    <strong>Email:</strong>
                    <%= @user.email %>
                </p>
                <%= link_to 'Edit', edit_user_path(@user)%>
            </div>
            <div class="tab-pane fade" id="nav-roles" role="tabpanel" aria-labelledby="nav-roles-tab">
                <% if @task_type_option.nil? || @user_group.nil?%>
                    <h2>No roles/permissions assigned to this user</h2>
                <% else %>
                    <table class="table w-25 table-borderless">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <% @user.user_groups.each do |user_group|%>  
                        <tbody>      
                            <tr>
                                <td><%= user_group.task_type_option.task_type.name%></td>
                                <td><%= link_to "#{user_group.task_type_option.name}", task_type_option_path(user_group.task_type_option)%></td>
                            </tr>
                        </tbody>
                        <% end %>
                    </table>
                <% end %><br>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <h1><strong>Recent Activity</strong></h1>
                <% unless @user.logged_labors.empty? %>
                <table class="table table-responsive" >
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Description</th>
                            <th>Time Spent</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <% @user.logged_labors.each do |activity|%>
                    <tbody>
                        <tr>
                            <td><%= link_to "#{Task.find_by_id(activity.task_id).title}", task_path(activity.task_id) %></td>
                            <td><%= activity.description%></td>
                            <td><%= activity.time_spent %></td>
                            <td><%= (activity.updated_at).strftime("%m/%d/%Y")  %></td>
                        </tr>
                    </tbody>
                    <% end %>
                </table>
                <% end %>
            </div>
            </div>
        </div>
        <div class="col-sm-1 bg-light"></div>
    </div>
</div>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>