<% if logged_in? %>
  <h1>Welcome, <%= current_user.full_name %>! </h1>

  
    <% unless get_all_tasks_assigned_to_user.empty? %>
        <h2>Assigned to you:</h2>
        <table class="table table-borderless table-hover table-sm w-50">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Title</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <% get_all_tasks_assigned_to_user.each do |task| %>
            <tbody> 
                <tr>
                    <td><%= (TaskType.find_by_id(task.task_type_id)).name %></td>
                    <td><%= task.title %></td>
                    <td><%= task.priority.nil? ? "" : task_priority(task) %></td>
                    <td><%= link_to 'Show', task_path(task) %></td>
                </tr>
            </tbody>
            <% end %>
        </table><br>
    <% else %>
        <h3>Assigned to you: N/A</h3>
    <%end%>
  

<% else %>
  <%= render 'errors/not_signed_in' %>
<% end %>



