<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
            <li class="breadcrumb-item"><%= link_to "Projects", task_types_path%></li>
            <li class="breadcrumb-item"><%= link_to @task_type.name, task_type_path(@task_type)%></li>
            <li class="breadcrumb-item active" aria-current="page"><%= sanitize @user.f_name %>'s Queue</li>
        </ol>
    </nav>
<div class="container-fluid">
    <h1><%=@user.full_name%>'s Queue</h1>
    <h2><strong>Project:</strong> <%= @task_type.name%></h2>
    <i>Drag and drop tasks to re-order their position. Refresh the page when you are done!<i>
    <br><br>
</div>
<div class='container-fluid' id='user-queue'>
    <div class="list-group col-sm-12 col-md-12 col-lg-10 col-xl-10 sortable ">
    <% unless @queue.empty?%>
        <% (@queue).each_with_sortable_id do |queue, sortable_id|%>
            <% task = Task.find_by_id(queue.task_id)%>
            <li class="list-group-item d-flex justify-content-between align-items-center"  id="<%= sortable_id %>">
                <div>
                    <span class="badge badge-primary"><%= queue.position + 1%></span>
                </div>
                <div>
                    <%= task.title.nil? ? (link_to task.description.truncate_words(5), task_path(task)) : (link_to task.title.truncate_words(5), task_path(task)) %>
                </div>
            </li> 
        <% end %>
    <% end %>
    </div>
    <div class="list-group col-sm-12 col-md-12 col-lg-10 col-xl-10 ">
        <li class="list-group-item list-group-item-action list-group-item-light text-center">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addToQueueModal">
                <%= fa_icon('plus-circle', text: 'Add task to queue')%>
            </button>  
        </li>
        <!--Modal -->
        <%= render 'task_queues/add_to_queue_modal'%>
    </div>
</div>
<script>
    $(function() {
        $('.sortable').railsSortable();
    });
</script>