<div class="container">
  <div class="py-4 text-center">
    <h1>New Task</h1>
  </div>
    <%= form_with model: @reoccuring_event_type, local: true do |form| %>
    
        <!-- Error Messages -->
        <% if @reoccuring_event_type.errors.any? %>
            <div id="error_explanation">
                <h2>
                    <%= pluralize(@reoccuring_event_type.errors.count, "error") %> prohibited
                    this event type from being saved:
                </h2>
                <ul>
                    <% @reoccuring_event_type.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="mb-3">
            <p> 
                <%= form.label :title %><br>
                <%= form.text_field :title, class: 'form-control' %>
            </p>

            <p> 
                <%= form.label :description %><br>
                <%= form.text_field :description, class: 'form-control' %>
            </p>
        </div>
    
        <p>
            <%= form.submit 'Save', class: 'btn btn-primary btn-lg btn-block' %>
        </p>
    <% end %>
</div>