
<%= form_with(model: [@task_type, @task_type_option]) do |form| %>
    <p>
        <%= form.label :name, 'Configuration Name' %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :can_view, 'View Tasks' %><br>
        <%= form.check_box :can_view%><br>
    </p>

    <p>
        <%= form.label :can_create, 'Create Tasks' %><br>
        <%= form.check_box :can_create%><br>
    </p>

    <p>
        <%= form.label :can_update, 'Update Tasks' %><br>
        <%= form.check_box :can_update%><br>
    </p>
    
    <p>
        <%= form.label :can_delete, 'Delete Tasks' %><br>
        <%= form.check_box :can_delete%><br>
    </p>

    <p>
        <%= form.label :can_approve, 'Approve Tasks' %><br>
        <%= form.check_box :can_approve%><br>
    </p>

    <p>
        <%= form.label :can_verify, 'Verify Tasks' %><br>
        <%= form.check_box :can_verify%><br>
    </p>

    <p>
        <%= form.label :can_comment, 'Comment on Tasks' %><br>
        <%= form.check_box :can_comment%><br>
    </p>

    <p>
        <%= form.label :can_log_labor, 'Log Labor Tasks' %><br>
        <%= form.check_box :can_log_labor %><br>
    </p>

    <p>
        <%= form.label :can_view_cost, 'View Cost' %><br>
        <%= form.check_box :can_view_cost%><br>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>