<% if logged_in? && isAdmin? %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
        <li class="breadcrumb-item"><a href="/task_type_options">Roles & Permissions</a></li>
        <li class="breadcrumb-item"><a href="/task_type_options/<%= @task_type_option.id%>"><%= @task_type_option.name %> </a></li>
        <li class="breadcrumb-item active"><a>Edit</a></li>
    </ol>
</nav>
<div class="container">
    <div class="py-4 text-center">
        <h1>Edit '<%="#{@task_type_option.name}"%>' Configuration </h1>
    </div>
    <%= render 'form' %>
</div>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>