<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
        <li class="breadcrumb-item"><%= link_to 'Projects', task_types_path %></li>
        <li class="breadcrumb-item"><%= link_to @task_type.name, task_type_path(@task_type)%></li>
        <li class="breadcrumb-item"><%= link_to @task_type_option.name, task_type_task_type_option_path(@task_type, @task_type_option)%></li>
        <li class="breadcrumb-item active"><a>Edit</a></li>
    </ol>
</nav>
<div class="container">
    <div class="py-4 text-center">
        <h1>Edit '<%="#{@task_type_option.name}"%>' Configuration </h1>
    </div>
    <%= render 'form' %>
</div>