<% if logged_in? && isAdmin? %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
            <li class="breadcrumb-item"><a>Role & Permissions</a></li>
        </ol>
    </nav>
    <div class="py-4 text-center">
        <h1>Roles & Permissions</h1>
        <p class="lead">(Click department to expand list of roles)</p>

    </div>
    <div class="container-fluid">
        <div class="row">
        <% @task_types.each do |task_type|%>
            <div class="col-sm-4">
                <div class="accordion" id="accordion">
                    <div class="card text-center mb-3">
                        <div class="card-header" id="heading<%=task_type.id%>">  
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=task_type.id%>" aria-expanded="true" aria-controls="collapse<%=task_type.id%>">
                                    <strong><%= task_type.name %></strong>        
                                </button>
                            </h5>
                        </div>
                        <div id="collapse<%=task_type.id%>" class="collapse" aria-labelledby="heading<%=task_type.id%>" data-parent="#accordion">
                            <div class="card-body text-center">
                                <% task_type.task_type_options.each do |task_type_option| %>
                                    <%= link_to task_type_option.name, task_type_option_path(task_type_option.id) %>
                                    <br>
                                <% end %>
                            </div>
                            <div class="card-footer text-muted">
                                <%= link_to fa_icon('plus-circle', text: "New #{task_type.name} Role"), new_task_type_option_path(@task_type_option, :task_type => task_type), class: 'btn btn-primary' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
<% else %>
     <%= render 'errors/not_signed_in' %>
<% end %>