<!-- Display the different Task Type Configurations -->

<h1><%= "#{@task_type.name}" %> - <%= "#{@task_type_option.name}" %> Configurations </h1>
<table>
    <tr>
      <th>View Tasks</th>
      <th>Create Tasks</th>
      <th>Update Tasks</th>
      <th>Delete Tasks</th>
      <th>Approve Tasks</th>
      <th>Verify Tasks</th>
      <th>Comment on Tasks</th>
      <th>Log Labor</th>
      <th>View Cost</th>
    </tr>
    <tr>
        <td><%= @task_type_option.can_view  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_create  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_update  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_delete  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_approve  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_verify  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_comment  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_log_labor  ? '✔' : '×' %></td>
        <td><%= @task_type_option.can_view_cost  ? '✔' : '×' %></td>
    </tr> 
</table>
<br><br>
<h2>Assigned Users</h2>
<table>
    <tr>
        <th> Name </th>
    </tr>
    <tr> 
        <%(UserGroup.all).each do |user_group| %>
            <% if @task_type_option.id == user_group.task_type_option_id%>
                <% (User.all).each do |user|%>
                    <%if user.id == user_group.users_id%>
                        <td> <%= user.full_name %><br> </td>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    <tr>


</table>
<%= link_to 'Assign User', new_user_group_path(:task_type_option_id => params[:id]) %><br><br>
<br><br>
<%= link_to 'Edit Configuration', edit_task_type_task_type_option_path(@task_type.id, @task_type_option.id) %><br>
<%= link_to 'Delete Configuration', task_type_task_type_option_path(@task_type.id, @task_type_option.id),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this role?' } %><br>
<%= link_to 'Back', task_types_path %>