<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-1 bg-light"></div>
        <div class="col-sm-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to 'Home', home_path %></li>
                    <li class="breadcrumb-item"><%= link_to "Roles & Permissions", task_type_options_path%></li>
                    <li class="breadcrumb-item"><%= link_to @task_type.name, task_type_path(@task_type)%></li>
                    <li class="breadcrumb-item active"><a><%= @task_type_option.name %> </a></li>
                </ol>
            </nav>
            <h1> <%= "#{@task_type_option.name}" %> Configurations </h1>
            <p><h5><small><strong>Department:</strong> <%= sanitize @task_type.name  %></small></h5></p>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <table class="table text-center table-bordered">
                        <tbody>
                            <tr>
                                <td>Admin:</td>
                                <td><%= @task_type_option.isAdmin ? fa_icon('check') : fa_icon('times') %> </td>
                            </tr>
                            <tr>
                                <td>View tasks:</td>
                                <td><%= @task_type_option.can_view ? fa_icon('check') : fa_icon('times') %> </td>
                            </tr>
                            <tr>
                                <td>Create tasks:</td>
                                <td><%= @task_type_option.can_create ? fa_icon('check') : fa_icon('times') %></td>
                            </tr>
                            <tr>
                                <td>Update tasks:</td>
                                <td><%= @task_type_option.can_update ? fa_icon('check') : fa_icon('times') %></td>
                            </tr>
                            <tr>
                                <td>Delete tasks:</td>
                                <td><%= @task_type_option.can_delete ? fa_icon('check') : fa_icon('times') %></td>
                            </tr>
                            <tr>
                                <td>Approve tickets:</td>
                                <td><%= @task_type_option.can_approve ? fa_icon('check') : fa_icon('times') %></td>
                            </tr>
                            <tr>
                                <td>Verify completion:</td>
                                <td><%= @task_type_option.can_verify ? fa_icon('check') : fa_icon('times') %></td>
                            </tr>
                            <tr>
                                <td>Comment on tasks:</td>
                                <td><%= @task_type_option.can_comment ? fa_icon('check') : fa_icon('times') %></td>
                            </tr>
                            <tr>
                                <td>Record labor entry:</td>
                                <td><%= @task_type_option.can_log_labor ? fa_icon('check') : fa_icon('times') %></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    
                        <%# if @user.empty? %>
                           <!-- <h3>No users have been assigned to this role.</h3> -->
                        <%# else %>
                            <table>
                                <tr>
                                    <th><h3>Assigned Users</h3></th>
                                </tr>
                                <% @task_type_option.user_groups.each do |user_group| %>
                                <tr> 
                                    <td><%= link_to User.find_by_id(user_group.user_id).full_name, user_path(user_group.user_id) %></td>
                                    <% unless @current_user_task_type_option.nil? %>
                                        <td><%= link_to fa_icon('trash-alt'), user_group_path(user_group),
                                            method: :delete,
                                            data: { confirm: "Are you sure you want to remove this role from this user?" } if @current_user_task_type_option.isAdmin%></td><br>
                                    <% end %>
                                </tr>
                                <% end %>
                            </table>
                        <%# end %><br>
                        <% unless @current_user_task_type_option.nil? %>
                            <%= link_to fa_icon('user-plus', text:'Assign User'), new_task_type_task_type_option_user_group_path(@task_type, @task_type_option), class:'btn btn-primary' if @current_user_task_type_option.isAdmin %><br>
                        <% end %>
                        <br>
            </div>
            <hr>
            <% unless @current_user_task_type_option.nil? %>
                <%= link_to fa_icon('edit', text:'Edit'), edit_task_type_task_type_option_path(@task_type, @task_type_option) if @current_user_task_type_option.isAdmin %><br>
                <%= link_to fa_icon('trash-alt', text:'Delete'), task_type_task_type_option_path(@task_type, @task_type_option),
                                    method: :delete,
                                    data: { confirm: 'Are you sure you want to delete this role?' } if @current_user_task_type_option.isAdmin %><br>
            <% end %>
        </div>
        <div class="col-sm-1 bg-light"></div>
    </div>
</div>