<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<% if logged_in? %>
 <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
      <%= image_tag "logo.png", alt: "Varland Metal Service" %> 
    </a>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to fa_icon('building 2x', text:'Projects'),
                          task_types_path,
                          class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon('ticket-alt 2x', text:'File Ticket'),
                          ticket_path,
                          class: "nav-link"%>
      </li>
      <% if isAdmin? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/admin" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon('user-cog 2x', text:"Admin") %>
        </a>
        <div class="dropdown-menu">
          <%= link_to fa_icon('users 2x', text:"Users"),
                             users_path, 
                             class:  "dropdown-item"%>
          <%= link_to fa_icon('user-tie 2x',text:'Roles'),
                             task_type_options_path, 
                             class:  "dropdown-item" %>
          <%= link_to fa_icon('eye 2x', text:'Activities'),
                             activities_path, 
                             class:  "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to verify_path, class:  "dropdown-item"  do %>
            <%= fa_icon('check-circle 2x', text:'Verify Completion')%>
            <span class="badge badge-light right"><%= Task.get_all_tasks_user_can_verify(current_user).count %></span> 
          <% end%>             
          <%= link_to review_path, class:  "dropdown-item"  do%> 
            <%= fa_icon('user-tag 2x', text:'Review Tickets')%>
            <span class="badge badge-light right"><%= Task.get_all_tickets_user_can_approve(current_user).count %></span>  
          <% end%>                    
        </div>
      </li>
      <% else %>
        <% if canApprove? %>
        <li class="nav-item">
          <%= link_to fa_icon('user-tag 2x', text:'Review Tickets'),
                            review_path, 
                            class:  "nav-link" %>
        </li>
        <%end%>
        <% if canVerify? %>
        <li class="nav-item">
          <%= link_to fa_icon('check-circle 2x', text:'Verify Completion'),
                              verify_path, 
                              class:  "nav-link" %>
        </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="nav-item-inline dropdown my-2 my-lg-0">
      <a class="nav-link-inline dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon('user-alt 2x', text:"#{current_user.f_name}")%>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to fa_icon("user-circle 2x", text:"Profile"),
                        user_path(current_user.id), 
                        class:  "dropdown-item",
                        title: 'Profile' %>
        <%= link_to fa_icon("sign-out-alt 2x", text:"Sign Out"), 
                      logout_path,
                      class:  "dropdown-item",
                      title: 'Sign Out',
                      method: :delete, 
                      data: { confirm: 'Are you sure you want to sign out?' } %>
      </div>
    </ul>
  </div>
</nav>

<% else %>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.png", alt: "Varland Metal Service" %>
    </a>
    <form class="form-inline">
      <a class="btn btn-outline-primary" href="/login" role="button">
      Log In
      </a>
    </form>
  </nav>
<% end %>