<!DOCTYPE html>
<html>
  <head>
    <title>VP - Project Manager</title>
    <%= favicon_link_tag asset_path('favicon-tasks.ico') %>    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/flash_messages'%>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
