<!DOCTYPE html>
<html>
  <head>
    <title>VP - Project Manager</title>
    <%= favicon_link_tag asset_path('favicon-tasks.ico') %>    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <div class="wrapper">
        <%= render 'layouts/navbar'%>
        <%= render 'layouts/flash_messages'%>
        <%= yield %>
        <div class="push"></div>
    </div><!--Wrapper close -->
    <%= render 'layouts/footer'%>
  </body>
    
</html>
